@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 :root{
  --yellow:#ffc914;
  --grey:#e0e0e0;
  --black:rgb(46, 40, 42);
  --cream:#eddea4;
  --rust: #C15C48;
  --blue: #6F7EA7;
  --white:rgb(245, 243, 245);
 }

 body{
  background: var(--white);
  color: var(--black);
  font-family: 'Lato', sans-serif;
}