@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 :root{
  --yellow:#ffc914;
  --grey:#e0e0e0;
  --black:rgb(46, 40, 42);
  --cream:#eddea4;
  --rust: #C15C48;
  --blue: #6F7EA7;
  --white:rgb(245, 243, 245);

  --mainTransition: all 0.3s linear;
  --mainSpacing: 4px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
 }

 body{
  background: var(--white);
  color: var(--black);
  font-family: 'Lato', sans-serif;
}

.lnr {
  display: inline-block;
  color: var(--white);
  font-size: 4rem;
  vertical-align: -0.05em;
}

/* global */
.section-padding {
  padding: 0.5rem 1rem;
}

.flexbox-parent {
  max-width: 95vw;
  margin: 2rem auto;
}

.item-margin {
  margin: 2rem 0;
}


@media (min-width:768px){
  .flexbox-parent--medium {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

  @media(min-width:992px) {
    .section-padding {
      padding: 3rem 10rem;
    }   
  }